@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-LightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-SemiboldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url("./OpenSans-ExtraBoldItalic.ttf");
    font-style: italic;
    font-weight: 800;
}