<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenji.audit.dao.ApprovalMapper" >
    <insert id="insertOne" parameterType="com.shenji.audit.model.ApprovalLog">
        INSERT INTO approval_log(id, affair_id, create_time, is_pass, author_id, ip, msg, is_edit_source) VALUES
        (#{id}, #{affairId}, #{createTime}, #{isPass}, #{authorId}, #{ip}, #{msg}, #{isEditSource})
    </insert>
</mapper>