@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-ExtraLight.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: SourceHanSerifCN;
    src: url("./SourceHanSerifCN-Heavy.otf");
    font-weight: 900;
    font-style: normal;
}